.dropdown-toggle::after {
  display: none;
}
.modal-backdrop {
  background-color: transparent;
  border: none;
}

.MUIDataTable-responsiveStacked-8 {
  margin-top: -10px !important;
}

.paragraf {
  width: 150px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
